.favourite-bg-1 {
  background-image: url(../img/favourites/indonesia.png);
  }
  
.favourite-bg-2 {
  background-image: url(../img/favourites/australia.png);
  }
  
.favourite-bg-3 {
  background-image: url(../img/favourites/switzerland.png);
  }

h2 {
  font-family: 'Caveat', cursive;
}

.favourite {
  display: grid;
  color: white;
  grid-template-areas: 'left centre right';
  grid-template-columns: 1fr 1fr 1fr;
}

.favourite > section {
  padding: 20px;
  background-size: cover;
  margin: 15px;
}

hgroup > button {
  background-color: green;
  color: white;
  border: none;

  margin-left: 0;
  margin-right: auto;
  display: block;
  margin-bottom: 5px;
}